{% extends 'base.html' %}
{% load static %}

{% block CSS %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="background">
    <h1>About Me 🤔</h1>
    <div class="flex">
        - 1995년 07월 21일 인천 출생
        <br>
        - 해병대 병장 만기전역
        <br>
        - 순천향대학교 환경보건학과 졸업
        <br>
        - 활동적이며 사람들과 어울리기 좋아합니다!
        <br>
        <br>
        💻 개발능력
        <br>
        - Language : C, C++, Python
        <br>
        - Tools : Git, Visual Studio Code, Pycharm, Anaconda
        <br>
        - DB : Mysql
        <br>
        - Environment : Linux, MacOs, Window
        <br>
        - Library : TCP / IP, Tensorflow, Keras, OpenCv, Pandas, Qt5
        <br><br>
        🏆 수상경력
        <br>
        - TLSP 발표대회 우수상
        <br>
        - 멋쟁이사자처럼 인공지능 알까기대회 “알까고” 준우승
        <br>
        - 선문대 sw 해커톤 교육 은상
        <br>
        <br>
        ⛰ 교외 활동
        <br>
        - 전국 연합 프로그래밍 교육 동아리 멋쟁이사자처럼 8기 [2020]
        <br>
        - 비트교육센터 AWS를 활용한 IOT개발자 양성과정 [2020]
        <br>
        <br>
        🏫 교내활동
        <br>
        - 주짓수동아리 Half 창립 및 회장역임 [2018 ~ 2019]
        <br>
        - 인권도우미 [2019]
        <br>
        <br>
        📕 자격증
        <br>
        - 국가기술자격증 : 산업위생관리기사 [2020.09.11]
        <br><br>
        <br><br>

        <div class="box" style="background: #BDBDBD;">
            <img class="profile" src="{% static 'images/banana.jpeg' %}">
        </div>

    </div>
</div>

{% block JS %}
{% endblock %}

{% endblock %}