{% extends 'base.html' %}
{% load static %}

{% block CSS %}
<link href="{% static 'css/PortFolio_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}


<div class="back">
    <div class="text">
        <h2>{{detail_.title}}</h2>
        <br>

        <h5> ➢ &nbsp develop period</h5>
        {{detail_.term}}
        <br><br>
        <h5>➢ Project outline</h5>
        {{detail_.summary}}
        <br><br>


        <!-- {% for contents in detail_.contents  %}
        {{contents}}
        {% endfor %} -->

        <h5>➢  &nbsp Design focus</h5>
        {{detail_.contents}}
        <br><br>
        <h5>➢  &nbsp Development Environment</h5>
        {{detail_.development_environment}}
        <br><br>
        <h5>➢  &nbsp Development_Language</h5>
        {{detail_.development_language}}
        <br><br>
        <h5>➢   &nbsp  Library</h5>
        {{detail_.library}}
        <br><br>
        <h5>➢  &nbsp Development_Tool</h5>
        {{detail_.tool}}
        <br><br>
        <h5>➢  &nbsp Development equipment</h5>
        {{detail_.equipment}}
        <br><br>
        <h5>➢  &nbsp Main Roles</h5>
        {{detail_.role}}
        <br><br>
        <h5>➢ &nbsp  Awards</h5>
        {{detail_.awards}}
        <br><br>
        Git
        <br>{{detail_.git}}
        <br><br>
        <br>

        <!-- <img src = "{{detail_.image.url}}" width="30px" height="30px"> -->

    </div>
</div>


{% block JS %}
{% endblock %}

{% endblock %}