{% extends 'base.html' %}
{% load static %}

{% block CSS %}
<link href="{% static 'css/PortFolio_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}


<div class="back">
    <div class="text">
        <h2>{{detail_.title}}</h2>
        <br>

        <h5>➢ &nbsp develop period</h5>
        {{detail_.term}}
        <br><br>
        ➢ Project outline
        <br>{{detail_.summary}}
        <br><br>


        <!-- {% for contents in detail_.contents  %}
        {{contents}}
        {% endfor %} -->

        ➢  &nbsp Design focus
        <br>{{detail_.contents}}
        <br><br>
        ➢  &nbsp Development Environment
        <br>{{detail_.development_environment}}
        <br><br>
        ➢  &nbsp Development_Language
        <br>{{detail_.development_language}}
        <br><br>
        ➢   &nbsp  Library
        <br>{{detail_.library}}
        <br><br>
        ➢  &nbsp Development_Tool
        <br>{{detail_.tool}}
        <br><br>
        ➢  &nbsp Development equipment
        <br>{{detail_.equipment}}
        <br><br>
        ➢  &nbsp Main Roles
        <br>{{detail_.role}}
        <br><br>
        ➢ &nbsp  Awards
        <br>{{detail_.awards}}
        <br><br>
        Git
        <br>{{detail_.git}}
        <br><br>
        <br>

        <!-- <img src = "{{detail_.image.url}}" width="30px" height="30px"> -->

    </div>
</div>


{% block JS %}
{% endblock %}

{% endblock %}