{% extends 'base.html' %}
{% load static %}

{% block CSS %}
<link href="{% static 'css/PortFolio_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}


<div class="back">
    <div class="text">
        <h2>{{detail_.title}}</h2>
        <br>
        개발 기간 : {{detail_.term}}
        <br><br>
        Project outline
        <br>{{detail_.summary}}
        <br><br>


        {% for contents in detail_.contents  %}
        {{contents}}
        {% endfor %}

        Design focus
        <br>{{detail_.contents}}
        <br><br>
        Development Environment
        <br>{{detail_.development_environment}}
        <br><br>
        Development_Language
        <br>{{detail_.development_language}}
        <br><br>
        Library
        <br>{{detail_.library}}
        <br><br>
        Development_Tool
        <br>{{detail_.tool}}
        <br><br>
        Development equipment
        <br>{{detail_.equipment}}
        <br><br>
        Main Roles
        <br>{{detail_.role}}
        <br><br>
        Awards
        <br>{{detail_.awards}}
        <br><br>
        Git
        <br>{{detail_.git}}
        <br><br>
        <br>

        <!-- <img src = "{{detail_.image.url}}" width="30px" height="30px"> -->

    </div>
</div>


{% block JS %}
{% endblock %}

{% endblock %}