.back {
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    z-index: 1;
    background-color: #212529;
    /*살짝 투명한 검정으로 배경색*/
}

.back::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url("../images/coding.png");
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
}

.text {
    color: #fff;
    padding-top: 5%;
    margin-left: 10%;

}